.text1 {

    border: 1px solid #121212;
    margin: 10px;
    padding: 5px;
    width: 100px;
    height: 100px;

}

.box1 {
    box-sizing: 10px;
    padding: 5px;
    border: 1px solid #121212;
    width: 100px;
    height: 100px;
}